@media (max-width: 767px) {
    .navigation .list-wrapper {
        background-color: #000;
        height: 100%;
        left: 0;
        opacity: 0;
        padding: 50px 20px 20px;
        position: fixed;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: opacity 375ms, -webkit-transform 375ms;
        transition: opacity 375ms, -webkit-transform 375ms;
        transition: opacity 375ms, transform 375ms;
        transition: opacity 375ms, transform 375ms, -webkit-transform 375ms;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    .navigation .list-wrapper.list-collapsed {
        opacity: .9;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .navigation .list-wrapper .close-list-btn {
        background: transparent;
        border: none;
        color: #c31111;
        font-size: 20px;
        line-height: 30px;
        padding: 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        right: 10px;
        top: 10px;
        width: 30px;
    }
    .navigation .list li {
        display: block;
    }
    .navigation .list a {
        font-size: 20px;
        color: #fff;
        text-decoration: none;
    }
    .block.contens .lists li{
        display: block;
        font-size: 20px;
    }
    .navigation .chats .wapp.hidden-xs,
    .block.information .socialnet div.hidden-xs{
        display: none!important;
    }
    .navigation .chats .mssg{
        margin-left: 13px;
    }
    .navigation .chats .wapp.visible-xs,
    .block.information .socialnet div.visible-xs{
        display: inline-block!important;
    }
    .navigation .logo{
        max-width: 124px;
    }
    .footer .logo{
        max-width: 140px;
    }
}
@media(max-width: 480px){
    .content-services .img-main{
        height: 380px;
    }
    .block.concept .description{
        font-size: 20px;
    }
    .block.cover .content{
        font-size: 35px;
    }
}
